{% extends 'bebe.html.twig' %}

{% block body %}
    <body style="background-color: rgb(255,165,0);">

        <div class="container" style="border-bottom-color: rgb(102,175,233);">
                <h1>{{ survey.title }}</h1>
                <p>{{ survey.description }}</p>
                {{ form(form) }}
        </div>
    </body>
{% endblock %}

